@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #30c67e;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 30px 30px;
  min-height: 100vh;
}

.wrapper header p {
  font-size: 2vw;
  margin-top: 20px;
}

.wrapper h1,
.wrapper h2 {
  color: #2e493a;
  text-align: center;
}

.wrapper h1 {
  margin-bottom: 10px;
  font-size: 4vw;
  color: #30c67e;
}

.wrapper h2 {
  font-size: 4vw;
}

.wrapper h3 {
  font-size: 3vw;
}

.wrapper h3,
.wrapper div {
  margin: 30px 0 20px;
}

.wrapper p {
  font-weight: bold;
  font-size: 2vw;
}

.wrapper ul {
  margin-left: 10%;
}

.wrapper .one .item,
.wrapper .two .item,
.wrapper .three .item,
.wrapper .four .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0%;
}

.wrapper .one .item div,
.wrapper .two .item div,
.wrapper .three .item div,
.wrapper .four .item div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  background-color: #30c67e;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  margin-right: 10px;
}

.wrapper .advance {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .advance p {
  font-size: 3vw;
}

.wrapper .advance p:first-of-type {
  margin-right: 5px;
  color: #30c67e;
}

.wrapper .advance p:last-of-type {
  margin-right: 10px;
  text-align: center;
}

.wrapper .advance span {
  color: #30c67e;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 4em;
}

section.theory .wrapper .advance div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

section.practice {
  margin-top: 10px;
}

section.practice .advance div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

section.consult {
  margin-top: 10px;
}

section.consult .advance a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section.consult .advance a p:last-of-type {
  color: #000;
}

@media screen and (max-width: 900px) {
  body {
    padding: 0 5%;
  }
  body li {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  body .wrapper h1 {
    font-size: 6vw;
  }
  body .wrapper h2 {
    font-size: 5vw;
  }
  body .wrapper h3,
  body .wrapper p {
    font-size: 1rem;
  }
  body .wrapper li {
    font-size: 1rem;
  }
  body .wrapper div :not(:last-child) {
    margin-top: 0;
  }
  body .wrapper .one .item,
  body .wrapper .two .item,
  body .wrapper .three .item,
  body .wrapper .four .item {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  body .wrapper p,
  body .wrapper li {
    font-size: 12px;
  }
  body .wrapper .advance a span {
    font-size: 2em;
  }
  body .wrapper .advance a p {
    font-size: 4vw;
  }
  body section.theory .wrapper .advance div {
    display: block;
  }
}
/*# sourceMappingURL=program.css.map */